<header>
  <h1 class="text-xl sm:text-3xl font-medium text-indigo-600 mb-4 mx-2  sm:ml-6">
    Tasky
  </h1>
</header>

<ul>
  <li class="hover:bg-indigo-700 hover:text-white text-slate-400 p-2 pl-6 mb-4 rounded-l-md">
      <i class="fa fa-home mx-auto md:mx-2" aria-hidden="true"></i>
      <span class="hidden lg:inline"> Dashboard
      </span>
      </li> 
  <li class="hover:bg-indigo-700 hover:text-white text-slate-400 p-2 pl-6 mb-4 rounded-l-md">
      <i class="fa fa-tasks mx-auto md:mx-2" aria-hidden="true"></i>
      <span class="hidden lg:inline-block"> Tasks
      </span>
  </li>
  <li class="hover:bg-indigo-700 hover:text-white text-slate-400 p-2 pl-6 mb-4 rounded-l-md">
      <i class="fa fa-calendar mx-auto md:mx-2" aria-hidden="true"></i>
      <span class="hidden lg:inline">
        Calendar
      </span>
  </li>
  <li class="hover:bg-indigo-700 hover:text-white text-slate-400 p-2 pl-6 mb-4 rounded-l-md">
      <i class="fa fa-users mx-auto md:mx-2" aria-hidden="true"></i>
      <span class="hidden lg:inline">
        Members
      </span>
  </li>
</ul>